#  Основной синтаксис:
# Каждая строка - отдельный шаблон 
# Пустые строки игнорируются
# Строки начинающиеся с # являются комментариями
# Символ слеша "/" в начале строки указывает на текущую папку (где лежит .gitignore)
# Звёздочка(*) заменяет любое количество символов
# Две звёздочки(**) используются для указания всех подпапок.
# Восклицательный знак(!) в начале строки инвертирует шаблон (используется для исключений)
# Для экранирования спецсимволов используется обратный слэш "\". 
# Для игнорирования всей директории, правило должно оканчиваться на слэш(/), в противном случае правило считается именем файла.




/bin/
/obj/
# настройки IDE vs
/.vs/



